<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario</title>
  </head>
  <body style="background-color: rgb(0,255,255)">
    <form class="" action="../Dynamics/contraseña.php" method="get">
      <fieldset><!-- Abrir marco bonito -->
        <legend><h1>Ingrese sus datos</h1></legend><!-- Leyenda de cuestionario -->
        <strong>Nombre:</strong><br><input type="text" name="nombre" value="" title="Ingrese un nombre válido." pattern="(^[A-ZÑÁÉÍÓÚ]{1}([a-zñáéíóú]+){2,})(\s[A-ZÑÁÉÍÓÚ]{1}([a-zñáéíóúy]+){2,})?$" required><br><!-- Validación de nombre con regex -->
        <strong>Apellido Paterno:</strong><br><input type="text" name="apPat" value="" required><br>
        <strong>Apellido Materno:</strong><br><input type="text" name="apMat" value="" required><br>
        <strong>Fecha de nacimiento:</strong><br><input type="date" name="FechNac" value="" required><br>
        <strong>Colegio:</strong><br><!-- Opciones de colegios -->
        <select class="" name="colegio">
          <optgroup label="Colegios de Área I: Ciencias Físico-Matemáticas y de las Ingenierías">
            <option value="Física">Física</option>
            <option value="Informática">Informática</option>
            <option value="Matemáticas">Matemáticas</option>
          </optgroup>
          <optgroup label="Colegios de Área II: Ciencias Biológicas y de la Salud">
            <option value="Biología">Biología</option>
            <option value="Educación Física">Educación Física</option>
            <option value="Morfología, Fisiología y Salud">Morfología, Fisiología y Salud</option>
            <option value="Orientación Educativa">Orientación Educativa</option>
            <option value="Psicología e Higiene Mental">Psicología e Higiene Mental</option>
            <option value="Química">Química</option>
          </optgroup>
          <optgroup label="Colegios de Área III: Ciencias Sociales">
            <option value="Ciencias Sociales">Ciencias Sociales</option>
            <option value="Geografía">Geografía</option>
            <option value="Historia">Historia</option>
          </optgroup>
          <optgroup label="Colegios de Área IV: Las Humanidades y las Artes">
            <option value="Alemán">Alemán</option>
            <option value="Artes Plásticas">Artes Plásticas</option>
            <option value="Danza">Danza</option>
            <option value="Dibujo y Modelado">Dibujo y Modelado</option>
            <option value="Filosofía">Filosofía</option>
            <option value="Francés">Francés</option>
            <option value="Inglés">Inglés</option>
            <option value="Italiano">Italiano</option>
            <option value="Letras Clásicas">Letras Clásicas</option>
            <option value="Literatura">Literatura</option>
            <option value="Música">Música</option>
            <option value="Teatro">Teatro</option>
          </optgroup>
          <optgroup label="Estudios Técnicos Especializados">
            <option value="ETEC">ETEC</option>
          </optgroup>
        </select><br>
        <strong>RFC:</strong><br><input type="text" name="RFC" value="" title="Ingrese un RFC válido." pattern="^[A-ZÑ&]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])[A-Z0-9_]{3}$" required><!-- Validación de RFC con regex -->
        <br>
        <strong>Contraseña:</strong><br><input type="password" name="contraseña" value="" title="Introduzca una contraseña con al menos 10 caracteres, un número, una mayúscula, una minúscula, y un caracter especial." pattern="^(?=\P{Ll}*\p{Ll})(?=\P{Lu}*\p{Lu})(?=\P{N}*\p{N})(?=[\p{L}\p{N}]*[^\p{L}\p{N}])[\s\S]{10,}$"><br><!-- Validación de contraseña con regex -->
        <input type="submit" name="" value="Enviar">
      </fieldset>
    </form>

  </body>
</html>
